#image {
    margin-top: 50px;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-bottom: 5px;
    width: 100vh;
    border-radius: 20px;
}

#head {
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 100px;
    font-family: "DM Sans";
    font-weight: 2000;
}

#cap {
    margin-top: 1px;
    text-align: center;
    font-size: 30px;
    font-family: "DM Sans";
    letter-spacing: 8px;
    font-weight: 700;

}

.bod1 {
    display: block;
    color: rgb(255, 255, 255);
    background: rgb(2, 0, 36);
    background: radial-gradient(rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(2, 161, 193, 1) 100%);
    text-align: center;
    font-family: "DM Sans";
    padding: 50px;
    margin: 50px;
    border-radius: 20px;

}

.list {
    display: block;
    color: rgb(255, 254, 254);
    background: rgb(12, 164, 202);
    text-align: center;
    font-family: "DM Sans";
    padding: 25px;
    margin-top: 100px;
    margin-left: 50vh;
    margin-right: 50vh;
    border-radius: 20px;
}

.external {
    margin: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    justify-content: start;
}


.internal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
}

.para_content {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.footer {
    background-color: rgb(205, 214, 171);
    margin: 100px;
    padding: 25px;
    color: aliceblue;
    border-radius: 20px;
    font-family: "DM Sans";
    font-weight: 900;
    font-size: 24px;

}

.outer
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.inter 
{
    margin: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: rgb(54, 68, 5);
}

.logos
{
    width: 50px;
    height: 50px;
    padding: 15px;
}